* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#header {
    background-color: #d22020;
    color: white;
    width: 100%;
    margin: 0;
}

#header img {
    width: 80px;
}

main {
    min-height: calc(100vh - 64px - 106px);
}

h2 {
    margin: 0;
    color: #d22020;;
}

#footer {
    background-color: #d22020;
    color: white;
    width: 100%;
    bottom: 0;
    font-weight: light;
}

.carousel-inner img {
    height: calc(100vh - 64px - 106px);
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

h3 {
   padding-top: 20px;
   padding-bottom: 5px; 
}

.btn-prtr {
    background-color: #8aa5cf;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 2px;
}

.btn-prtr:hover {
    background-color: #577fc0;
    cursor: pointer;
}

#text-fullscreen  {
    color: #8aa5cf
}

#text-fullscreen:hover {
    color: #577fc0;
    cursor: pointer;
}

#dash_col {
    background-color: white;
}
