#header {
    background-color: #d22020;
    color: white;
    width: 100%;
    margin: 0;
}

#header img {
    width: 60px;
}

main {
    min-height: calc(100vh - 80px - 86px);
}

h2 {
    margin: 0;
}

#footer {
    /* position:absolute; */
    background-color: #d22020;
    color: white;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

.carousel-inner img {
    height: calc(100vh - 80px - 86px);
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

h3 {
   padding-top: 20px;
   padding-bottom: 5px; 
}