<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/base.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block css %}
        {% endblock %}

        <title>PRTR transfers summary</title>
        <link rel = "icon" href="{{ url_for('static', path='img/logo.ico') }}" type = "image/x-icon" class="figure-img img-fluid">
    
    </head>
    <body>

        <header class="sticky-top shadow-lg" id="header">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top" style="z-index: 1;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', path='img/logo.svg') }}" class="figure-img img-fluid" alt="PRTR logo">
                        <p class="d-sm-inline-block text-center text-sm-left">
                            PRTR transfers <span style="color: #c4c2c2; font-weight: bolder;">summary</span>
                        </p>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span> </span>
                        <span> </span>
                        <span> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about/">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                  Generic information
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="/sectors/">Industry sectors</a></li>
                                  <li><a class="dropdown-item" href="/transfer_classes/">Transfer classes</a></li>
                                  <li><a class="dropdown-item" href="/substances/">Substances</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/">DataViz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/v1/api_documentation/" rel="noopener noreferrer" target="_blank">REST services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/jodhernandezbe/PRTR_transfers_FastAPI" rel="noopener noreferrer" target="_blank">GitHub repository</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="d-flex justify-content-center" id="main" style="z-index: -10;">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="page-footer pt-4 px-4" id="footer">
            <div class="container-fluid" align="center">
                <div class="row justify-content-between">
                    <div class="col-lg-3 col-md-12 col-12 h-100 align-middle">
                        <img src="{{ url_for('static', path='img/usal.png') }}" class="figure-img img-fluid" alt="USAL">
                    </div>
                    <div class="col-lg-2 col-md-12 col-12 h-100 align-middle pt-1">
                        <img src="{{ url_for('static', path='img/epa.png') }}" class="figure-img img-fluid" alt="EPA">
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 text-left">
                        <ul class="p-0 m-0">
                            <li class="p-0 m-0">
                                <i class="fa fa-male"></i><span style="margin-left: 10px;">Dr. Mariano Martin</span>
                            </li>
                            <li class="p-0 m-0">
                                <i class="fa fa-university"></i><span style="margin-left: 10px;">Department of Chemical Engineering, Universidad de Salamanca</span>
                            </li>
                            <li class="p-0 m-0">
                                <i class="fa fa-envelope"></i><span style="margin-left: 10px;">mariano.m3@usal.es</span>
                            </li>
                            <li class="p-0 m-0">
                                <i class="fa fa-phone"></i><span style="margin-left: 10px;">(+34) 670-54-95-89</span>
                            </li>
                            <li class="p-0 m-0">
                                <i class="fa fa-map-marker"></i><span style="margin-left: 10px;">Plz. De los Caídos 1-5. 37008, Salamanca, Spain</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center pb-3 font-weight-lighter" style="opacity:0.5;
            font-size:13px;">
                Copyright © 2021 | All rights reserved
            </div>
        </footer>

        <!-- Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
