<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/base.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block css %}
        {% endblock %}

        <title>PRTR transfers summary</title>
        <link rel = "icon" href="{{ url_for('static', path='img/logo.ico') }}" type = "image/x-icon">
    
    </head>
    <body>

        <header class="sticky-top" id="header">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', path='img/logo.svg') }}" alt="PRTR logo">
                        <p class="d-sm-inline-block text-center text-sm-left">
                            PRTR transfers <span style="color: #c4c2c2; font-weight: bolder;">summary</span>
                        </p>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about/">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                  Generic information
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="/sectors/">Industry sectors</a></li>
                                  <li><a class="dropdown-item" href="/transfer_classes/">Transfer classes</a></li>
                                  <li><a class="dropdown-item" href="/substances/">Substances</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/">DataViz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/v1/api_documentation/">REST services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/jodhernandezbe/PRTR_transfers_FastAPI">GitHub repository</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="d-flex justify-content-center" id="main">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="page-footer" id="footer">

            <!-- Footer Elements -->
            <div class="container-fluid" align="center">
        
                <!-- Grid row-->
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col w-100">
                        <!-- <div class="mb-5 flex-center"> -->
                
                            <!-- Facebook -->
                            <a href="https://www.facebook.com/jodhernandezbe" class="fa fa-facebook"></a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/jodhernandezbe" class="fa fa-twitter"></a>
                            <!--Linkedin -->
                            <a href="https://www.linkedin.com/in/jodhernandezbe/" class="fa fa-linkedin"></a>
                            <!--Instagram-->
                            <a href="https://www.instagram.com/jodhernandezbe/" class="fa fa-instagram"></a>
                        <!-- </div> -->
                    </div>
                    <!-- Grid column -->
            
                </div>
                <!-- Grid row-->
        
            </div>
            <!-- Footer Elements -->
        

            <!-- Copyright -->
            <div class="footer-copyright text-center p-2">© 2020 Copyright:
                <a href="www.sustineritechem.com" style="color: white;"><u>SustineriTeChem.com</u></a>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
