{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">

<div class="col-12 col-sm-12 col-md-11 col-lg-9">

  <h3>Generic transfer classes</h3>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" id="table-transfer-classes">
      <thead>
        <tr>
          <th>generic_transfer_class_id</th>
          <th>generic_transfer_class_name</th>
          <th>transfer_class_wm_hierarchy_name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>M4</td>
          <td>Landfill</td>
          <td>Disposal</td>
        </tr>
        <tr>
          <td>M5</td>
          <td>Other disposal</td>
          <td>Disposal</td>
        </tr>
        <tr>
          <td>M1</td>
          <td>Surface impoundment</td>
          <td>Disposal</td>
        </tr>
        <tr>
          <td>M9</td>
          <td>Underground injection</td>
          <td>Disposal</td>
        </tr>
        <tr>
          <td>M8</td>
          <td>Storage</td>
          <td>Disposal</td>
        </tr>
        <tr>
          <td>M7</td>
          <td>Recycling</td>
          <td>Recycling</td>
        </tr>
        <tr>
          <td>M10</td>
          <td>Sewerage</td>
          <td>Sewerage</td>
        </tr>
        <tr>
          <td>M2</td>
          <td>Destruction</td>
          <td>Treatment</td>
        </tr>
        <tr>
          <td>M6</td>
          <td>Other treatment</td>
          <td>Treatment</td>
        </tr>
        <tr>
          <td>M3</td>
          <td>Energy recovery</td>
          <td>Energy recovery</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

</div>
</div>

{% endblock %}

{% block js %}
<script>
  $(document).ready( function () {
    $('#table-transfer-classes').DataTable();
  } );
  </script>
{% endblock %}