{% extends 'base.html' %}

{% block content %}

<h3>Generic industry sectors</h3>                                                                                                                              

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>generic_sector_code</th>
        <th>generic_sector_name</th>                                                                                                          
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Crop and animal production, hunting and related service activities</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Forestry and logging</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Mining of coal and lignite</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Extraction of crude petroleum and natural gas</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Mining of metal ores</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Other mining and quarrying</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Mining support service activities</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Manufacture of food products</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Manufacture of beverages</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Manufacture of tobacco products</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Manufacture of textiles</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Manufacture of wearing apparel</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Manufacture of leather and related products</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Manufacture of paper and paper products</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Printing and reproduction of recorded media</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Manufacture of coke and refined petroleum products</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Manufacture of chemicals and chemical products</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Manufacture of basic pharmaceutical products and pharmaceutical preparations</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Manufacture of rubber and plastics products</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Manufacture of other non-metallic mineral products</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Manufacture of basic metals</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Manufacture of fabricated metal products, except machinery and equipment</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Manufacture of computer, electronic and optical products</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Manufacture of electrical equipment</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Manufacture of machinery and equipment n.e.c.</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Manufacture of motor vehicles, trailers and semi-trailers</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Manufacture of other transport equipment</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Manufacture of furniture</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Other manufacturing</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Repair and installation of machinery and equipment</td>
      </tr>
      <tr>
        <td>35</td>
        <td>Electricity, gas, steam and air conditioning supply</td>
      </tr>
      <tr>
        <td>36</td>
        <td>Water collection, treatment and supply</td>
      </tr>
      <tr>
        <td>37</td>
        <td>Sewerage</td>
      </tr>
      <tr>
        <td>38</td>
        <td>Waste collection, treatment and disposal activities; materials recovery</td>
      </tr>
      <tr>
        <td>39</td>
        <td>Remediation activities and other waste management services</td>
      </tr>
      <tr>
        <td>41</td>
        <td>Construction of buildings</td>
      </tr>
      <tr>
        <td>42</td>
        <td>Civil engineering</td>
      </tr>
      <tr>
        <td>43</td>
        <td>Specialized construction activities</td>
      </tr>
      <tr>
        <td>45</td>
        <td>Wholesale and retail trade and repair of motor vehicles and motorcycles</td>
      </tr>
      <tr>
        <td>46</td>
        <td>Wholesale trade, except of motor vehicles and motorcycles</td>
      </tr>
      <tr>
        <td>47</td>
        <td>Retail trade, except of motor vehicles and motorcycles</td>
      </tr>
      <tr>
        <td>49</td>
        <td>Land transport and transport via pipelines</td>
      </tr>
      <tr>
        <td>50</td>
        <td>Water transport</td>
      </tr>
      <tr>
        <td>51</td>
        <td>Air transport</td>
      </tr>
      <tr>
        <td>52</td>
        <td>Warehousing and support activities for transportation</td>
      </tr>
      <tr>
        <td>53</td>
        <td>Postal and courier activities</td>
      </tr>
      <tr>
        <td>56</td>
        <td>Food and beverage service activities</td>
      </tr>
      <tr>
        <td>58</td>
        <td>Publishing activities</td>
      </tr>
      <tr>
        <td>59</td>
        <td>Motion picture, video and television programme production, sound recording and music publishing activities</td>
      </tr>
      <tr>
        <td>60</td>
        <td>Programming and broadcasting activities</td>
      </tr>
      <tr>
        <td>61</td>
        <td>Telecommunications</td>
      </tr>
      <tr>
        <td>62</td>
        <td>Computer programming, consultancy and related activities</td>
      </tr>
      <tr>
        <td>63</td>
        <td>Information service activities</td>
      </tr>
      <tr>
        <td>66</td>
        <td>Activities auxiliary to financial service and insurance activities</td>
      </tr>
      <tr>
        <td>68</td>
        <td>Real estate activities</td>
      </tr>
      <tr>
        <td>69</td>
        <td>Legal and accounting activities</td>
      </tr>
      <tr>
        <td>70</td>
        <td>Activities of head offices; management consultancy activities</td>
      </tr>
      <tr>
        <td>71</td>
        <td>Architectural and engineering activities; technical testing and analysis</td>
      </tr>
      <tr>
        <td>72</td>
        <td>Scientific research and development</td>
      </tr>
      <tr>
        <td>73</td>
        <td>Advertising and market research</td>
      </tr>
      <tr>
        <td>74</td>
        <td>Other professional, scientific and technical activities</td>
      </tr>
      <tr>
        <td>77</td>
        <td>Rental and leasing activities</td>
      </tr>
      <tr>
        <td>81</td>
        <td>Services to buildings and landscape activities</td>
      </tr>
      <tr>
        <td>82</td>
        <td>Office administrative, office support and other business support activities</td>
      </tr>
      <tr>
        <td>84</td>
        <td>Public administration and defence; compulsory social security</td>
      </tr>
      <tr>
        <td>85</td>
        <td>Education</td>
      </tr>
      <tr>
        <td>86</td>
        <td>Human health activities</td>
      </tr>
      <tr>
        <td>93</td>
        <td>Sports activities and amusement and recreation activities</td>
      </tr>
      <tr>
        <td>94</td>
        <td>Activities of membership organizations</td>
      </tr>
      <tr>
        <td>95</td>
        <td>Repair of computers and personal and household goods</td>
      </tr>
      <tr>
        <td>96</td>
        <td>Other personal service activities</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}