{% extends 'base.html' %}

{% block content %}
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
    <div class="carousel-inner w-100 h-100">
        <div class="carousel-item active w-100" data-interval="20000">
            <img class="d-block w-100" src="{{ url_for('static', path='img/industry.jpg') }}" alt="Industry">
        </div>
        <div class="carousel-item w-100" data-interval="20000">
            <img class="d-block w-100" src="{{ url_for('static', path='img/pollution.jpg') }}" alt="Pollution">
        </div>
        <div class="carousel-item w-100" data-interval="20000">
            <img class="d-block w-100" src="{{ url_for('static', path='img/sewers.jpg') }}" alt="Sewers">
        </div>
        <div class="carousel-item w-100" data-interval="20000">
            <img class="d-block w-100" src="{{ url_for('static', path='img/transport.jpg') }}" alt="Transport">
        </div>
        <div class="overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 offset-md-6 text-center text-md-right">
                        <h1 style="color: white;">PRTR transfers summary</h1>
                        <p class="d-none d-md-block pt-4" style="font-size: 16px;">
                            The PRTR transfers summary database contains publicly-accessible inventory of chemicals or pollutants transferred off-site for disposal, treatment, energy recovery, and recycling. It brings together information about which chemicals are being transferred, how much, by what industry sector, and the reason for the transfer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
