{% extends 'base.html' %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 pl-2 pr-2">
            <h1 class="pb-4 mb-4 text-center">{{ table_title }}</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" id="my_table">
                    <thead>
                        <tr>
                            {% for column in columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record_row in record_rows %}
                        <tr>
                            {% for data in record_row %}
                            <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf8" src="{{ url_for('static', path='js/functions.js') }}"></script>
{% endblock %}